*{
    margin: 0%;
    padding: 0%;
}
body, html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: aqua;
    background-image: linear-gradient(to right, rgb(81, 197, 197), lightskyblue);
    height: 420px;
    width: 380px;
    border-radius: 10%;
    padding: 20px 30px;
    text-align: center;
}
.min1{
    display: flex;
    justify-content: space-between;
}
.main input{
    border-radius: 50px 50px 50px 50px;
    padding: 15px;
    height: 20px;
    width: 250px;
}
.min2 button{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: white;
}
.min2 img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}
.main .img1{
    height: 150px;
    width: 180px;
    border-radius: 20%;
    /* margin-left: 80px; */
    margin-top: 20px;
}
.main .temp{
    color: aliceblue;
}
.main2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: aliceblue;
}
.min3 img{
    height: 60px;
    width: 60px;
    border-radius: 20%;
}
.min4 img{
    height: 60px;
    width: 60px;
    border-radius: 20%;
}